@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-image: url("http://68.media.tumblr.com/cd14d7f73bd1d6489201856f7670941f/tumblr_mrmh11dvAY1sdyj9lo1_1280.jpg")
}

body {
  font-family: Georgia, Times, serif;
  font-size: 14px;
  background-image: url("http://68.media.tumblr.com/cd14d7f73bd1d6489201856f7670941f/tumblr_mrmh11dvAY1sdyj9lo1_1280.jpg")

}

article {
  background-image: url("images/wallpaper.png")
}
